* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: silver !important;
}

html {
  scroll-behavior: smooth;
}

article .text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.bg-success-dark {
  background-color: #10B981;
}
.bg-light-dark {
  background-color: #eee;
}

input:focus {
  outline: none;
}
